<div >
    <h1>Sub Region</h1>
    <hr>
    <div class="row">
        <div class="col">
            <app-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias($event)" 
            placeholder="Buscar Subregion..."></app-input>
        </div>
    </div>
    <hr>
    
</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino: {{termino}}
</div>

<div  class="row">
    <div class="col">
        <app-tabla [paises]="paises"></app-tabla>
    </div>
</div>


